<div class="clock-wrapper black-border">

  <div class="clock-analog shadow">
    <div class="source"></div>
   <span 
   *ngFor="let digit of digits" class="digit digit-{{digit}}" [ngStyle]="{'transform':'rotate('+digit * 30+'deg)'}"><b [ngStyle]="{'transform': 'rotate(-' + digit*30 + 'deg)'}">{{digit}}</b></span>
   <div class="hand hour-hand" [ngStyle]="{'transform': 'rotate(' + hourHandPosition +'deg)'}"></div>
   <div class="hand minute-hand" [ngStyle]="{'transform': 'rotate(' + minuteHandPosition +'deg)'}"></div>
   <div class="hand secound-hand" [ngStyle]="{'transform': 'rotate(' + secoundHandPosition +'deg)'}"></div>
  </div>

  <div class="clock-digital shadow">
    <span class="date year">{{datetime.year}}</span>
    <span class="date doublebar">:</span>
    <span class="date month">{{datetime.month}}</span>
    <span class="date doublebar">:</span>
    <span class="date day">{{datetime.day}}</span>
    <span class="date separator">-</span>
    <span class="date hour">{{datetime.hour}}</span>
    <span class="date doublebar">:</span>
    <span class="date minute">{{datetime.minute}}</span>
    <span class="date doublebar">:</span>
    <span class="date secound">{{datetime.secound}}</span>
  </div>

</div>